<!DOCTYPE html>

{% extends "layout.html" %}

{% block content %}

<div id="main_part_inner">
  <div id="main_part_inner_in">
    <h2>About Us</h2>
    <!--<div class="button_main"> <a href="#" class="button_dark">INCIDIDUNT</a> </div>-->
  </div>
</div>
<div id="content_inner">
  <h3><u>Our Goal:</u></h3>
  <h3>Welcome to StatTrack. StatTrack is a web application created BY baseball/softball people FOR baseball/softball people. The aim is to 
  save coaches and scorekeepers the great amounts of time and effort required to comb through every single at-bat in the scorebook after a game 
  just to pull out their team's statistics. By registering your team with an account on our site, you will be able to easily add players to your team, 
  and enter statistics AS THEY HAPPEN with just the click of a finger. Then, our database will hold the statistics until your next game, when you will
  be able to pick up right where you left off.</h3> 
  <div id="content_inner">
    <center><a href="createTeam"><img src="static/img/team_member1.jpg" width = 350 alt=""></a> <a href="#" class="profession"></a></center>
  </div>
  <h3>High school coaches: Aren't you tired of having to take hours going through your roughly kept scorebook
  after every game?</h3>
  <br>
  <h3>Youth coaches: Wouldn't it be nice to know some statistics for your teams when it comes to setting your lineups?</h3>
  <h3>Register your team with StatTrack now, and spend more time COACHING. It's free! </h3>
  <br>
  <h3 align="center">So, what are you waiting for?</h3><a href="/createTeam" class="button_dark">SIGN UP!</a>
  
  {% endblock %}