<!DOCTYPE html>

{% extends "layout.html" %}

{% block content %}

<div id="main_part_inner">
  <div id="main_part_inner_in">
    <h2>Create Team</h2>
  </div>
</div>
{% if printError == 'yes' %}
<center><h2>Error! Your passwords did not match. Please try again!</h2></center>
{% endif %}
<center><div id="content_inner">
  <section>
        
        <form method="post" action="/createTeam">
          <fieldset>
          <p><label class="input" for="teamName">Team name:</label><input type="text" id="teamname" name="teamname" size="40" /></p>
          <p><label class="input" for="password">Password:</label><input type="password" id="password" name="pw" size="40" /></p>
          <p><label class="input" for="password2">Password again:</label><input type="password" id="password2" name="pw2" size="40" /></p>
          </fieldset>
          <center><p><input type="submit" value="Create User" name="submit" /></p></center>
          
        </form>
    
        </table>
  </section>
  <aside id="sidebar">&nbsp;</aside>
</div></center>

  {% endblock %}