{% extends "layout.html" %}

{% block content %}
<div id="main_part">
  <div id="main_part_in">
    <h2>StatTrack</h2>
    <p>The free way to keep track of all of your team's statistics</p>
  </div>
  <div class="button_main">
    <div class="pxline"></div>
    <a href="/createTeam" class="button_dark">Sign Up</a> </div>
</div>

<div id="content">
  <div class="thirds">
    <h3>Information regarding our next web chat:</h3>
    <p> Date: {{livechatinfo.date}}<br /> Time: {{livechatinfo.time}}<br /> Subject: {{livechatinfo.subject}}</p>
  </div>
  <div class="thirds">
    <h3>Team member available for chat?</h3>
    {% if coachAvailable %}
    <p> Yes!</p>
    {% else %}
    <p> No. Please try again tomorrow!</p>
    {% endif %}
  </div>
  <hr class="cleanit">
    <h3>About Us</h3>
    <p class="about">StatTrack is a web app, built to allow coaches or official scorers for baseball/softball teams to digitally keep stats for their teams without the hassle of dealing with a scorebook... </p>
    <a href="about" class="button_light">LEARN MORE</a> </div>
</div>

{% endblock %}

