
{% extends "layout.html" %}

{% block content %}

    <div id="main_part_inner">
      <div id="main_part_inner_in">
        <h2>Login</h2>
      </div>
    </div>
    <center><div id="content_inner">
      <section>
        <form method="post" action="/login">
    <fieldset>
    <p><label class="input" for="teamname">Team name:</label><input type="text" id="teamname" name="teamname" size="40" /></p>
    <p><label class="input" for="password">Password:</label><input type="password" id="password" name="pw" size="40" /></p>
    </fieldset>
    <center><p><input  class="input" type="submit" value="Login" name="submit" /></p></center>
    
  </form>
        
        
      </section>
  <aside id="sidebar">&nbsp;</aside>
</div></center>
        
 
        
{% endblock %}