<!DOCTYPE html>

{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () { //
            $(".longString").each(function () {
                var maxwidth = 5;
                if ($(this).text().length > maxwidth) {
                    $(this).text($(this).text().substring(0, maxwidth));
                    $(this).html($(this).html() + '');
                }
            });
        });
    </script>

<div id="main_part_inner">
  <div id="main_part_inner_in">
    <h2>{{user[0]}} Homepage</h2>
  </div>
</div>
<div id="content_inner">
  <section>
  <div id="content">
  <div class="thirds">
    <h3>Add New Player:</h3>
    <form method="post" action="/myTeam">
            
            <tr><td><p>
            <label>First Name: </label><input type="text" id="firstname" name="firstname" size="40" /></p></td></tr>
            <label>Last Name: </label><input type="text" id="lastname" name="lastname" size="40" /></p></td></tr>
            
        
            <label for="number">Uniform Number: </label><input type="number" name="number" id="number" min="0" max="99" step="1" value ="0"/>
            <label for="number">Pos: </label><select name = "position">
              <option value="P">P</option>
              <option value="C">C</option>
              <option value="1B">1B</option>
              <option value="2B">2B</option>
              <option value="3B">3B</option>
              <option value="SS">SS</option>
              <option value="OF">OF</option>
              <option value="Util">Utility</option>
            </select>
            <tr><td><p><input type="submit" name="submit" value="Add Player"></p></td></tr>
    </form>
  </div>
  <div class="thirds" align = "right">
    <h3>Log Statistic:</h3>
    <form method="post" action="/myTeam">
      <p><select name="player">
        {% for player in playerList %}
        <option name="player" value="{{player[4]}}" >#{{player[2]}}   {{player[0]}} {{player[1]}} </option>
        {% endfor %}
      </select></p>
      <p><select name="stat">
        <option value="single" >Single</option>
        <option value="double" >Double</option>
        <option value="triple" >Triple</option>
        <option value="homerun" >Homerun</option>
        <option value="walk" >Walk</option>
        <option value="hitbypitch" >Hit By Pitch</option>
        <option value="flyout" >Flyout</option>
        <option value="groundout" >Groundout</option>
        <option value="onbyerror" >On By Error</option>
        <option value="strikeout" >Strikeout</option>
        <option value="sacbunt" >Sac Bunt</option>
        <option value="sacfly" >Sac Fly</option>
        <option value="stolenbase" >Stolen Base</option>
        <option value="runscored" >Run Scored</option>
      </select></p>
      <p><label for="rbi">RBI: </label><input type="number" name="rbi" id="rbi" min="0" max="4" step="1" value ="0"/></p>
      <input type="submit" name="submit" value="Submit Result">
    </form>

  </div>
  <hr class="cleanit">
    <section>
	    <table border="1">
    	  <h1>Team Statistics:</h1>
    	  <tr>
    	  <td>Num</td>
    	  <td>Name</td>
    	  <td>Pos</td>
    	  <td>AB</td>
    	  <td>R</td>
    	  <td>H</td>
    	  <td>2B</td>
    	  <td>3B</td>
    	  <td>HR</td>
    	  <td>RBI</td>
    	  <td>BB</td>
    	  <td>K</td>
    	  <td>SB</td>
    	  <td>AVG</td>
    	  <td>OBP</td>
    	  
    	  
    	  </tr>
    	  {% for player in playerList %}
      	<tr>
      	<td>{{player[2]}}</td> <!-- num -->
      	<td>{{player[1]}}, {{player[0]}} </td> <!-- name -->
      	<td>{{player[3]}}</td> <!-- pos -->
      	<td>{{player[13]}}</td> <!-- ab -->
      	<td>{{player[11]}}</td> <!-- runs -->
      	<td>{{player[5]}}</td> <!-- hits -->
      	<td>{{player[6]}}</td> <!-- 2b -->
      	<td>{{player[7]}}</td> <!-- 3b -->
      	<td>{{player[8]}}</td> <!-- hr -->
      	<td>{{player[9]}}</td> <!-- rbi -->
      	<td>{{player[10]}}</td> <!-- bb -->
      	<td>{{player[14]}}</td> <!-- k -->
      	<td>{{player[12]}}</td> <!-- sb -->
      	{% if player[13] > 0 %}
      	<td class="longString">{{(player[5]/player[13])}}</td> <!-- avg -->
      	{% else %}
      	<td>0.000</td>
      	{% endif %}
      	{% if player[17] > 0 %}
      	<td class="longString">{{(player[5] + player[10] + player[15] + player[16]) /player[17]}}</td>
      	{% else %}
      	<td>0.000</td>
      	{% endif %}
      	
      	</tr>
      	{% endfor %} 
	    </table>
    </section>
    
    <style>
    .buttons { 
      width: 160%;
      table-layout: fixed;
      border-collapse: collapse;
      }
    .buttons button { 
      width: 100%;
    }
    </style>
    <hr class="cleanit">
      <section>
        <h1><u>Make a mistake? Fix it!</u></h1>
        <br>
        <h2>Select a player and then press the button with the correction that you would like to make. Don't worry about the adjusted AB's or averages. We'll take care of that for you! </h2>
        <br><table class="buttons">
          <tr><form method="post" action="/myTeam">
            <p><select name="player">
              {% for player in playerList %}
              <option name="player" value="{{player[4]}}" >#{{player[2]}}   {{player[0]}} {{player[1]}} </option>
              {% endfor %}
            </select>
            </p>
          </tr><br>
          <tr>
            <td><input type="submit" name="submit" value="-1 Single"></td>
            <td><input type="submit" name="submit" value="-1 Double"></td>
            <td><input type="submit" name="submit" value="-1 Triple"></td>
            <td><input type="submit" name="submit" value="-1 Homerun"></td>
            <td><input type="submit" name="submit" value="-1 Base on Balls"></td>
            <td><input type="submit" name="submit" value="-1 Strikeout"></td>
            <td><input type="submit" name="submit" value="-1 Run"></td></tr>
            <tr><td><input type="submit" name="submit" value="-1 SB"></td>
            <td><input type="submit" name="submit" value="-1 On By Error"></td>
            <td><input type="submit" name="submit" value="-1 Groundout"></td>
            <td><input type="submit" name="submit" value="-1 Flyout"></td>
            <td><input type="submit" name="submit" value="-1 Sac Fly"></td>
            <td><input type="submit" name="submit" value="-1 Sac Bunt"></td>
            <td><input type="submit" name="submit" value="-1 Hit By Pitch"></td>
          </tr></form>
        </table>
        
      </section>
    
  </hr>
    
    
        
  </section>
  <aside id="sidebar">&nbsp;</aside>
</div>

  {% endblock %}